@page "/"
@using SpawnDev.BlazorJS.JSObjects
@using OpenCvSharp;

<PageTitle>OpenCVSharp4 Blazor WASM Demo</PageTitle>

<h1>OpenCVSharp4 Blazor WASM Demo</h1>
<p>
    This demo loads an image from remote server and runs an OpenCV canny edge detection on it.<br />
    <h4>Source Code</h4>
    <a href="https://github.com/LostBeard/SpawnDev.BlazorJS.OpenCVSharp4/blob/main/SpawnDev.BlazorJS.OpenCVSharp4.Demo/Pages/Index.razor">Index.razor</a><br />
</p>

<canvas style="zoom: 50%; border: 1px solid grey;" @ref=canvasSrcRef></canvas>
<canvas style="zoom: 50%; border: 1px solid grey;" @ref=canvasDestRef></canvas>


@code {
    ElementReference canvasSrcRef;
    ElementReference canvasDestRef;
    string TestImage = "https://i.imgur.com/WOZagma.jpeg";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            using var canvasSrcEl = new HTMLCanvasElement(canvasSrcRef);
            using var canvasSrcCtx = canvasSrcEl.Get2DContext();
            using var canvasDestEl = new HTMLCanvasElement(canvasDestRef);
            using var canvasDestCtx = canvasDestEl.Get2DContext();
            using var src = new Mat();
            await src.LoadImageURL(TestImage);
            src.DrawOnCanvas(canvasSrcCtx, true);
            using var dst = new Mat();
            Cv2.Canny(src, dst, 50, 200);
            dst.DrawOnCanvas(canvasDestCtx, true);
        }
    }
}