@page "/VideoCaptureDemo"
@using SpawnDev.BlazorJS.JSObjects
@using OpenCvSharp;

<PageTitle>Video Capture Demo</PageTitle>

<h1>OpenCVSharp4 Video Capture Demo</h1>

<button @onclick=@PlayUserMedia>Source: Webcam</button>
<button @onclick=@PlayRemoteVideo>Source: Video URL</button>
<br />
<br />
<canvas @ref=canvasSrcRef style="border: 1px solid grey;"></canvas>
<br />

@code {
  
}